.sidebar {
  width: 25%;
}

.sidebar-menu {
  max-height: 70vh;
  overflow-y: scroll;
  color: #212529;
  text-align: start;
}

.responsive-sidebar {
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 100;
  box-shadow: 3px 2px 6px 0px rgba(33,33,33,0.75);
  -webkit-box-shadow: 3px 2px 6px 0px rgba(33,33,33,0.75);
  -moz-box-shadow: 3px 2px 6px 0px rgba(33,33,33,0.75);
  background-color: #e3e2e1;
}

.display {
  display: block;
}

.aside {
  display: block;
}

@media screen and (max-width: 980px) {
  .aside {
    display: none;
  }

  .sidebar {
    width: 100%;
  }
}